
#navbar
{
    width : 100%;
    height : 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: white;
}
#navbar>#left>a
{
    text-decoration: none;
}
#navbar>#left>a>p
{
    font-size: 20px;
    font-weight: bold;
    color: #e5b95f;
    margin-left: 10px;
    letter-spacing: 0px;
}


#navbar>#center-logo
{
   width : 15%;
   height : 70%;
}
#navbar>#center-logo>a>img
{
    width : 100%;
    height : 100%;
}
#navbar>#right
{
    width : 15%;
    height : 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 10px;
}
#navbar>#right>div
{
    width : 10%;
    height : 35%;
}
#navbar>#right>div>a>img
{
    width : 100%;
    height : 100%;

}
